.env
venv-*
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info
*.egg
*.whl
*.log
/evaluation
data/hepatic/GSE280797/csv_data/*.csv
data/hepatic/GSE280797/metadata_PEP/*.soft
data/ontology/*
data/schema/schema.json
data/extracted_data/filled_schema/*
data/extracted_data/metadata/*.json

# But include the folders themselves
!data/ontology/.gitkeep
