.env
venv-*
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info
*.egg
*.whl
*.log
/evaluation/results/*.txt
data/hepatic/*
data/ontology/*
data/schema/schema.json
data/extracted_data/filled_schema/*
data/extracted_data/metadata/*

# But include the folders themselves
!data/hepatic/GSE280797/csv_data/.gitkeep
!data/hepatic/GSE280797/metadata_PEP/.gitkeep
!data/ontology/.gitkeep
!data/extracted_data/filled_schema/.gitkeep
!data/extracted_data/metadata/.gitkeep